body {
  background-image: url(''); /* Replace with your background image */
  background-size: cover; /* Cover the entire page */
  background-position: cover; /* Center the background image */
  background-repeat: no-repeat;
  font-family: Arial, sans-serif; /* Set a clean font */
  height: 250vh;
}

.plan-cards-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 100px;
  margin: 20px;
  background-color: rgb(86, 88, 92);

}

.plan-card {
  background-color: rgb(185, 189, 189);
  border: 4px solid yellow; /* Yellow border */
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 2px 5px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 200%;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-card h3 {
  font-size: 3rem;
  font-weight: bold;
}

.plan-card p {
  font-size: 2rem;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.plan-card-image {
  width: 50%; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  margin: 0 auto; /* Center the image */
  display: block; /* Required to center block-level elements */
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  display: inline-block;
  flex: 1;
}

.edit-button {
  background-color: #440c08;
  color: white;
}

.edit-button:hover {
  background-color: #552fd3;
}

.delete-button {
  background-color: #440c08;
  color: white;
}

.delete-button:hover {
  background-color: #552fd3;
}
