/* In your CSS file */
.background-container {
  width: 100%; /* Full width of the parent container */
  height: 250px; /* Adjust height as necessary */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-position: center; /* Centers the background image */
  background-size: cover; /* Cover ensures the image covers the entire container */
  background-color: #f0f0f0; /* Optional: A fallback color */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  position: relative; /* Allows for absolute positioning of children if needed */
}
/* App.css or your relevant CSS file */

.background {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: contain; /* Scale the image to fit inside the container */
  height: 10vh; /* Full height of the viewport */
  width: 10%; /* Full width of the container */
  display: flex; /* Center content vertically */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow: hidden; /* Hide any overflow */
}

/* App.css */
.bg-image-container {
  height: 2%; /* Adjust as necessary */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}